body{
    margin:0;
    padding:0;
    font-family:sans-serif;
  }
  .container{
    padding:1rem 4rem;
  }
  .col-container{
    display:flex;
  }
  .title{
    width:100%;
    padding-top:2rem;
    text-align:center;
  }
  .header{
    position:fixed;
    width:100%;
    background:rgb(255, 105, 25);
    border-bottom:1px solid #f10202;
  }
  #main-title{
    text-align:center;
    width:100%;
    padding-top: 1rem;
  }
  #main-title > span {
    background:rgb(13, 225, 240);
    padding:7px 10px;
    border-radius:7px;
    color:rgb(227, 6, 6);
  }
  
  #nav-links{
    list-style:none;
    text-align:center;
  }
  #nav-links > li{
    display:inline-block;
    padding: 5px 7px;
    margin: 10px 5px;
  }
  #nav-links > li > a{
    text-decoration:none;
    font-weight:bold;
    color: rgb(219, 203, 18);
    transition: all .1s;
  }
  #nav-links > li > a:hover{
    color: rgb(7, 226, 65);
  }
  
  /* Styles for Home */
  #home{
    height:auto;
    padding-top:11rem;
  }
  #home > img {
    width:100%;
    height:auto;
  }
  
  /* Styles for About */
  #about{
    height:auto;
  }
  #about p{
    line-height:25px;
  }
  
  /* Styles for services */
  #services .col{
    width:33%;
    margin:1rem;
    padding: 7px 2rem;
    border: 1px solid #ef0000;
    background-color: rgb(231, 229, 156);
  }
  #services .col > h3{
    color:#0ac007;
  }
  
  #sc-ad .col-container > .col{
    width:50%;
    margin:1rem;
    padding: 7px 2rem;
    background-color: rgb(231, 229, 156);
  }
  #sc-ad .col-container > .col p{
    line-height:1.5;
    background-color: rgb(231, 229, 156);
  }
  #sc-ad .col-container > .col img{
    width:100%;
    height:auto;
    background-color: rgb(231, 229, 156);
  }
  
  #contact ul{
    list-style:none;
    text-align:center;
    color: darkblue;
    background-color: rgb(133, 233, 213);
    
  }
  ul > li{
    display:inline-block;
    padding: 5px 7px;
    margin: 10px 5px;
    color:black;
  }
  
  /* styles for footer */
  footer{
    background:#efaaaa;
    padding:1rem 3rem;
    text-align:center;
  }
  p {
 background-color: khaki;
  }